body {
  background: #eeeeee;
}
h1 {
  margin: 10px;
  font-size: 16px;
}
a {
  color: #600;
}
div.action {
  background: #999;
  padding: 5px;
}
div.action button {
  float: right;
}
div.action a {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
  display: block;
  float: left;
}
div.action div.alt {
  display: none;
  float: left;
}
div.action div.alt button {
  float: none;
}
.clear {
  clear: both;
}

table {
  width: 100%;
}
thead {
  color: white;
  background: #666;
}
tbody {
  background: white;
}

tbody td {
  border-top: 1px solid #AAA;
}

td.icon {
  text-align: center;
}

tbody tr:nth-child(2n+1) {
  background-color: #DADADA;
}

#content {
  display: block;
  border: 1px solid #AAA;
  margin-left: 2px;
  max-width: 350px;
  max-height: 350px;
}

div.phone {
    position: relative;
    width: 246px;
    color: black;
    padding: 100px 40px;
}

div.phone img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

div.phone div.canvas {
    height:400px;
    overflow: auto;
}

div.nav {
    margin-top: 170px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid #222;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 0;
}
div.nav h2 {
    background: #999;
    color: white;
    margin: 0;
    font-size: small;
    padding: 5px;
    text-align: center;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}
div.nav .toc {
    margin: 10px;
    width: 240px;
}

#focus {
    width: 610px;
    margin: 40px auto;
}

#focus > div {
    float: left;
}
